@model List<MarketplaceServices.Models.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{


<table class="table">
    <thead>
        <tr>
            <th>
                CatgoryName
            </th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @item.CategoryName
            </td>
        </tr>
        <tr>
            @*<td>
                <button Onclick="AddSubCategory()">AddSubCategory</button>
            </td>*@
            <td>
                <form method="post" id="form" >
                    <input name="SubCategoryName" />
                    <input hidden name="CatgoriesId" value="@item.Id" />
                    <input type="submit"  asp-action="Edit" asp-controller="Category" />
                </form>
            </td>
           
        </tr>
        @foreach (var i in item.subCategories)
        {
            <tr>
                <td>
                    @i.SubCategoryName
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
}


<script>
    function AddSubCategory() {
        var form = document.getElementById("form");
        if (form.style.display ==="none") {

            form.style.display = "block";
        } else {
            form.style.display = "none";
        }

    }
</script>