@model MarketplaceServices.Models.ApplicationUser;


@{
    var userId = ViewBag.userid;
}




@{
    List<SelectListItem> level = new List<SelectListItem>()
{
                new SelectListItem() { Text="Basic"},
                new SelectListItem() { Text="Intermediaire"},
                new SelectListItem() { Text="Advanced"},
            };
}

@* Proooooooofile *@


<div class="main-page second py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 left">
                <div class="profile_info">
                    <div class="seller-card">
                        <div>
                            <div class="user-online-indicator is-online " data-user-id="1152855">
                                <i class="fa fa-circle"></i>online
                            </div>
                        </div>
                        @*<div><a href="#" class="ambassadors-badge">Ambassador</a></div>*@
                        <div class="user-profile-info">
                            <div>
                                <div class="user-profile-image">
                                    <label class="user-pict">
                                        <img src="images/@Html.DisplayFor(x => x.Image)"
                                             class="img-fluid user-pict-img" alt="ProfileImage">
                                        <a href="#"
                                           class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a>
                                    </label>
                                </div>
                            </div>
                            <div class="user-profile-label">

                                <form method="post">

                                    <a class="seller-link" id="username" onclick="changeUsername()">@Html.DisplayFor(x => x.UserName)  </a>

                                    <input hidden value="@userId" name="UserId" />
                                    <input type="submit" asp-action="updateName" style="display:none" asp-controller="Profile" class=" btn btn-success m-0" id="userUpdate" />
                                </form>

                            </div>
                        </div>
                        @*
                    Upload Images
                        *@
                        <div class="p-4">
                            <form method="post" enctype="multipart/form-data">
                                <label class=" btn btn-info m-0">
                                    <i class="mdi mdi-image"></i> Choose file
                                    <input class="imageuploade d-none" type="file" name="filename" accept="image/*" />
                                </label>
                                <Input hidden name="UserId" value="@userId" />
                                <input type="submit" asp-action="addimage" asp-controller="Profile" class="add btn btn-success m-0" value="Upload" />
                            </form>
                        </div>
                        @*
                    ***************Information****************
                        *@
                        <div class="user-stats-desc">
                            <ul class="user-stats">
                                <li class="location">From<strong>@Html.DisplayFor(x => x.Address)</strong></li>
                                <li class="member-since">Member since<strong>Dec 2012</strong></li>
                                <li class="response-time">Avg. Response Time<strong>2 hours</strong></li>
                                <li class="recent-delivery">Recent Delivery<strong>about&nbsp;15</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*
            *************Description**********
                *@
                <div class="seller-profile">

                    <div class="description">

                        <h3 class="d-flex row justify-content-between">
                            Description
                            <a onclick="changeDescription()"> Edit Description</a>
                        </h3>


                        <form method="post">

                            <p id="descriptions">
                                @Html.DisplayFor(x => x.Description)
                            </p>
                            <Input hidden name="UserId" value="@userId" />
                            <input id="updateD" class="btn btn-success" style="display:none" type="submit" asp-action="updateDescription" asp-controller="Profile" value="Update" />
                        </form>

                    </div>

                    @*
                *************Language**********
                    *@
                    <div class="languages">
                        <h3 class="d-flex row justify-content-between">
                            Languages
                            <a class="addnew" onclick="viewlanguage()">Add Language</a>
                        </h3>
                        <div style="display:none" id="AddLanguage">

                            <form method="post">

                                <div class="d-flex flex-column">
                                    <div class="">
                                        <label for="LanguageName" id="skill">Language</label>
                                        <Input class="form-control " name="LanguageName" id="LanguageName" />
                                        <span></span>
                                    </div>
                                    <div class="form-group">
                                        <select required="required" name="LanguageLevel" asp-items="@level" id="level" class="form-control custom-select">
                                            <option disabled selected>- Level -</option>
                                        </select>
                                        <span></span>
                                    </div>
                                    <Input hidden name="UserId" value="@userId" />

                                    <button asp-action="AddLanguage" class="btn btn-primary mb-2" asp-controller="Profile">Add Language</button>

                                </div>
                            </form>
                        </div>
                        <ul>
                            @foreach (var language in Model.Language)
                            {
                                <li>@language.LanguageName - <span>@language.LanguageLevel</span></li>
                            }


                        </ul>
                    </div>

                    @*
                *************Skils**********
                    *@
                    <div class="skills">
                        <h3 class="d-flex row justify-content-between">
                            Skills
                            <a class="addnew" id="addnew" onclick="viewskills()">Add Skills</a>

                        </h3>
                        <div style="display:none" id="Addskill">
                            <form method="post">
                                <div class="d-flex flex-column">
                                    <div class="form-group">
                                        <label for="SkillName" id="skill">Skill</label>
                                        <Input class="form-control" name="SkillName" id="SkillName" />
                                        <span asp-validation-for="@Model.Skills[0].SkillName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <select required="required" name="SkillLevel" asp-items="@level" id="level" class="form-control custom-select">
                                            <option disabled selected>- Level -</option>
                                        </select>
                                        <span asp-validation-for="@Model.Skills[0].SkillLevel" class="text-danger"></span>
                                    </div>
                                    <Input hidden name="UserId" value="@userId" />
                                    <button asp-action="Addskills" class="btn btn-primary mb-2" asp-controller="Profile">Add Skill</button>
                                </div>
                            </form>
                        </div>
                        @* ***ListSkills*** *@
                        <ul>
                            @foreach (var skill in Model.Skills)
                            {
                                <li class=""><a href="#">@skill.SkillName</a></li>

                            }
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-8 right">
                <div class="shadow-sm rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Edit Basic Info</h6>
                        <p class="mb-0 mt-0 small">
                            Lorem ipsum dolor sit amet, consecteturs.
                        </p>
                    </div>
                    <div class="box-body p-3">
                        <form class="js-validate" novalidate="novalidate">
                            <div class="row">
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="nameLabel" class="form-label">
                                            FirstName
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" placeholder="Enter your name" aria-label="Enter your name" required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="usernameLabel" class="form-label">
                                            LastName
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="LastName" value="@Model.LastName" placeholder="Enter your username" aria-label="Enter your username" required="" aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                            </div>
                            <div class="row">
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="locationLabel" class="form-label">
                                            Location
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="location" value="@Model.Address" placeholder="Enter your location" aria-label="Enter your location" required="" aria-describedby="locationLabel" data-msg="Please enter your location." data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="locationLabel" class="form-label">
                                            Phone Number
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Enter your location" aria-label="Enter your location" required="" aria-describedby="locationLabel" data-msg="Please enter your location." data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                            </div>
                            <div class="row">
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="organizationLabel" class="form-label">
                                            Organization
                                            <span class="text-danger"></span>
                                        </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="organization" value="" placeholder="Enter your organization name" aria-label="Enter your organization name" required="" aria-describedby="organizationLabel" data-msg="Please enter your organization name" data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="col-sm-6 mb-2">
                                    <div class="js-form-message">
                                        <label id="websiteLabel" class="form-label">
                                            Website
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form-control" type="url" name="website" value="" placeholder="Enter your website" aria-label="Enter your website" required="" aria-describedby="websiteLabel" data-msg="Password enter a valid website" data-error-class="u-has-error" data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="shadow-sm rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">
                            Experience
                        </h6>
                        <p class="mb-0 mt-0 small">
                            Tell about your work, job, and other experiences.
                        </p>
                    </div>
                    <div class="box-body px-3 pt-3 pb-0">
                        <form method="post" id="experience">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label id="FROM" class="form-label">FROM</label>
                                    <!-- Input -->
                                    <div class="input-group">
                                        <input type="date" required class="form-control" placeholder="From" name="From" aria-label="FROM" aria-describedby="FROM">
                                    </div>
                                    <!-- End Input -->
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label id="TO" class="form-label">TO</label>
                                    <!-- Input -->
                                    <div class="input-group">
                                        <input type="date" required class="form-control" placeholder="TO" name="To" aria-label="TO" aria-describedby="TO">
                                    </div>
                                    <!-- End Input -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label id="companyLabel" class="form-label">Company</label>
                                    <!-- Input -->
                                    <div class="input-group">
                                        <input type="text" required class="form-control" placeholder="Enter your company title" name="CompanyName" aria-label="Enter your company title" aria-describedby="companyLabel">
                                    </div>
                                    <!-- End Input -->
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label id="positionLabel" class="form-label">Position</label>
                                    <!-- Input -->
                                    <div class="input-group">
                                        <input type="text" required class="form-control" placeholder="Enter your position" name="Position" aria-label="Enter your position" aria-describedby="positionLabel">
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="row col-md-12">
                                    <button type="submit"  class="btn btn-dark ml-auto">Add Experience</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="education-list list col-md-12">
                            <ul id="experience-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 text-right col-md-12">
                <button type="submit" class="btn btn-outline-success">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>




<script>

    $(document).ready(function () {
        $(document).on('submit', '#experience', function () {
            let userinfo = $(this).serialize();


            var ul = document.getElementById("experience-list");
            var li = document.createElement(
                "<li class='m-4'>" +
                "<p style='color: #555; font-weight:700'>" + userinfo.valueOf("Position") + "</p > " +
                "<p>From To  </p>" + "</li>")
            ul.appendChild(li);


        });


            return false;
    });
    

</script>