@model MarketplaceServices.Models.ApplicationUser;


@{
    var userId = ViewBag.userId;
}

@{ 
    List<SelectListItem> level = new List<SelectListItem>()
{
                new SelectListItem() { Text="Basic"},
                new SelectListItem() { Text="Intermediaire"},
                new SelectListItem() { Text="Advanced"},
            };
}

<div class="d-flex">

    <div class="sidebar">
        <div class="side-inner">

            <div class="profile">
                <img src="images/@Model.Image" alt="Image" class="img-fluid" />
                <form method="post" enctype="multipart/form-data">

                    <input class="imageuploade" type="file" name="filename" accept="image/*" />
                    <Input hidden name="UserId" value="@userId" />
                    <input type="submit" asp-action="addimage" asp-controller="Profile" class="add" value="Add" />
                </form>

                <div class="d-flex align-items-center">
                    @* Update Name *@
                    <form method="post">
                        <h3 id="text" class="name mb-0">@Html.DisplayFor(x => x.UserName)<span class="icon-check_circle verified"></span></h3>
                        <Input hidden name="UserId" value="@userId" />
                        <input id="update" style="display:none" type="submit" asp-action="updateName" asp-controller="Profile" value="Update" />
                    </form>
                    <img class="m-0" src="~/Icons/pencil.svg" style="width:40px; height:20px" onclick="changetext()" />
                </div>


                <div class="activity">
                    <p>@Html.DisplayFor(x => x.Address)</p>
                </div>

                <div class="counter d-flex">
                    <div class="col p-0">
                        <strong class="number">8</strong>
                        <span class="number-label">Services</span>
                    </div>
                    <div class="col p-0">
                        <strong class="number">100</strong>
                        <span class="number-label">Followers</span>
                    </div>
                </div>
                @* Update Description *@
                <form method="post">
                    <div class="bio">
                        <h3 style="font-size:17px">Description</h3>
                        <p id="description">@Html.DisplayFor(x => x.Description)</p>
                    </div>
                    <Input hidden name="UserId" value="@userId" />
                    <input id="updateD" style="display:none" type="submit" asp-action="updateDescription" asp-controller="Profile" value="Update" />
                </form>
                <img class="m-0" src="~/Icons/pencil.svg" style="width:40px; height:20px" onclick="changeDescription()" />


            </div>
            @*SkillSection*@
            <div class="ProfileSkill">
                <div class="tags">
                    <div class="d-flex tagsdiv">
                        <h3>Skills</h3>
                        <button class="addnew" id="addnew" onclick="viewskills()">AddNew</button>

                    </div>
                    <ul>
                        @foreach (var skill in Model.Skills)
                        {

                            <li class="">
                                <a href="#">@skill.SkillName</a>
                                <form method="post">
                                    <input hidden value="@skill.Id" name="Id" />
                                    <button type="submit" asp-action="deleteSkill" asp-controller="Profile">
                                        <img class="trash" src="~/Icons/trash-alt-regular.svg" style="width:15px ; height:20px " />
                                    </button>

                                </form>
                            </li>

                        }
                    </ul>

                </div>
                <div style="display:none" id="Addskill">

                    <form method="post">

                        <div class="d-flex flex-column">

                            <label for="SkillName" id="skill">Skill</label>
                            <Input name="SkillName" id="SkillName" />
                            <span asp-validation-for="@Model.Skills[0].SkillName" class="text-danger"></span>
                            @*<label for="SkillLevel" id="SkillLevel">Level</label>
                                <Input name="SkillLevel" />*@
                            <select required="required" name="SkillLevel" asp-items="@level" id="level" class="form-control custom-select">
                                <option disabled selected>- Level -</option>
                            </select>
                            <span asp-validation-for="@Model.Skills[0].SkillLevel" class="text-danger"></span>
                            <Input hidden name="UserId" value="@userId" />

                            <button asp-action="Addskills" asp-controller="Profile">Add Skill</button>

                        </div>
                    </form>
                </div>

            </div>








            @*Languagesection*@
            <div class="profileLangage">


                <div class="tags">
                    <div class="d-flex tagsdiv">
                        <h3>Languages</h3>
                        <button class="addnew" onclick="viewlanguage() ">AddNew</button>

                    </div>
                    <ul>
                        @foreach (var lang in Model.Language)
                        {
                            <li>
                                <form method="post">



                                    <input hidden value="@lang.Id" name="Id" />
                                    <a href="#">@lang.LanguageName - @lang.LanguageLevel </a>
                                    <button type="submit" asp-action="deleteLang" asp-controller="Profile">
                                        <img class="trash" src="~/Icons/trash-alt-regular.svg" style="width:15px ; height:20px " />
                                    </button>

                                </form>

                            </li>
                        }
                    </ul>

                </div>


                <div style="display:none" id="AddLanguage">

                    <form method="post">

                        <div class="d-flex flex-column">

                            <label for="LanguageName" id="skill">Language</label>
                            <Input name="LanguageName" id="LanguageName" />
                            @*<label for="LanguageLevel" id="LanguageLevel">Level</label>
                                <Input name="LanguageLevel" />*@

                            <select required="required" name="LanguageLevel" asp-items="@level" id="level" class="form-control custom-select">
                                <option disabled selected>- Level -</option>
                            </select>
                            <Input hidden name="UserId" value="@userId" />

                            <button asp-action="AddLanguage" asp-controller="Profile">Add Language</button>

                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

    <div>
        <p>Do You Want To Make a "s/ce "</p>
        <a asp-action="Create" asp-controller="Services">Click Here</a>
    </div>
</div>
<script>

    function changetext() {
        const text = document.getElementById("text");
        const input = document.createElement("input");
        input.setAttribute("name", "UserName");
        input.setAttribute("Value", text.textContent);
        text.replaceWith(input);
        const update = document.getElementById("update");
        update.style.display = "block";
    }

    function changeDescription() {
        const text = document.getElementById("description");
        const area = document.createElement("textarea");
        area.setAttribute("name", "Description");
        area.innerHTML = text.textContent;
        /*area.setAttribute("Value", text.textContent);*/
        text.replaceWith(area);
        const update = document.getElementById("updateD");
        update.style.display = "block"; 
    }

</script>
   

